footer {
  padding: 50px;
    text-align: center;
    color: grey;
    background-color: $color-fondo-footer;

    h5{
      text-align: start;
      color: #fafafa;
      font-weight: bold;
      padding-left: 1.5rem;
    }


    a{                                          //Redes Sociales
      
      text-decoration: none;
      color:grey;

      .bi-instagram:hover{
          background: linear-gradient(to right top, orange, red,blueviolet);
          color:antiquewhite;
          border-radius: 30%;
      }

      .bi-facebook:hover{
        color:#3b5998 ;
      }

      .bi-twitter:hover{
        color:cadetblue;
      }
    }

    ul{
      list-style: none;
      text-align: start;
    }
  }