header {
    text-align: center;
  

nav {
  display: flex;
  justify-content: end;

  ul li {
    @include lista;

    &:hover {
      padding-bottom: 3px;
      border-bottom: 2px $color-nav solid;
      border-end-end-radius: 10px;
    }

    a {
      @include propiedades;
    }
  }
}
}