main{
  background-image: url(../img/fondo.png);
  background-size: auto;
  background-position: top;
  background-repeat: no-repeat;
  
  }

h1{
    background-color: $color-fondo-encabezados;
    text-align: center;
  }

  .imagenAjustada{
    object-fit: cover;

  }



.imagen img {
  height: 300px;
}

.formu {
    padding: 10px;
    background-color: $color-fondo-formulario;
  }
  
  .portada {
    height: 480px;
    object-fit: cover;
  }
  
  .textoCarousel {
    color: white;
    background-color: black;
  }

  a{
    @include propiedades;
  }

  .verMas{
    font-size: larger;
  }

 .desborde{
  width: 100%;
  
 }

 .textoDerecha{
  text-align: right;
 }

 .separador{
  padding: 10px;
  border-bottom: 1px gainsboro solid;
 }

 .navAyuda{
    background-color: rgb(245, 245, 245, 0.75);
  @include propiedades;
  border-right: 1px gainsboro solid;

  ul li{
    @include lista;
  }
 }


 .barraBusqueda{
  background-color:rgb(245, 245, 245, 0.75) ;
  border-bottom: 1px gainsboro solid;
  padding: 5px 0px;
  margin: 0px;
  button{
    background-color: royalblue ;
    color: white;
    margin: 0px 4px;
    &:hover{
      background-color: blue;
      color:white;
    }
  }
 }