@media (max-width:1200px){

    .desborde{
        width: 100%;
        object-fit: contain;
        
       }

      
}

@media (max-width:400px){

    footer {
        padding: 40px;

        a{
            padding: 20px;
        }
          
        }
      
}